@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');
* {
	outline: none;
	margin: 0;
	padding: 0; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html { height: calc(100% - 80px); }
body {
	height: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    background: #f5f4f4;
}
#wrapper {height: 100%;}
a, a:hover {
    text-decoration: none;
    color: #fff;
}
.clear {clear: both;}

.df {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.df-JC-center {justify-content: center;}
.df-JC-space-bet {justify-content: space-between;}
.df-JC-space-ar {justify-content: space-around;}
.df-JC-fl-start {justify-content: flex-start;}
.df-AI-c {
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            align-items: center;
}
li {list-style: none;}
p {}
.center {
	width: 1200px;
	margin: 0 auto;
}
.nav-contain {
	background: #deb15a;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.25);
}
.nav {
	height: 80px;
	padding: 0 20px;
}
.main {height: 100%;}
.main-contain {
	height:100%;
	background: #fff;
}
.nav-logo {
	position: relative;
	width: 100px;
	padding: 0 0 0 23px;
	font-size: 34.8px;
	color: #000101;
	-moz-transform: matrix( 0.8264480582137, 0, 0, 0.83333333333333, 0, 0);
	-webkit-transform: matrix( 0.8264480582137, 0, 0, 0.83333333333333, 0, 0);
	transform: matrix( 0.8264480582137, 0, 0, 0.83333333333333, 0, 0);
}
.logo-pen,
.orders-icon,
.support-icon,
.profile-icon,
.balance-icon,
.plus-icon {
	position: absolute;
	fill: #313e4c;
}
.logo-pen {
	width: 30px;
    height: 30px;
    left: -8px;
    bottom: 6px;
}
.active .orders-icon{ fill:#fff; }
.orders-icon {
    left: 0;
    bottom: 8px;
	width: 22px;
    height: 15px;
}
.support-icon {
    left: 7px;
    bottom: 7px;
    width: 17px;
    height: 17px;
}
.profile-icon {
    left: 7px;
    bottom: 7px;
    width: 17px;
    height: 17px;
}
.balance-icon {
    left: 5px;
    bottom: 2px;
    width: 17px;
    height: 16px;
}
.plus-icon {
	left: 15px;
    top: 14px;
    width: 16px;
    height: 16px;
}
.heart-icon {
	position: relative;
	top: 1px;
	width: 17px;
	height: 15px;
	fill: #313e4c;
}
.bell-icon-wrap { position: relative; }
.bell-icon-wrap:after {
	content: "";
    position: absolute;
    right: -7px;
    top: -8px;
    width: 10px;
    height: 10px;
    background: #76ac5c;
    border:2px solid #deb15a;
    border-radius: 50%;
}
.bell-icon {
	position: relative;
	top: 1px;
	width: 16px;
	height: 18px;
	fill: #313e4c;
}
.user-icon {
	position: relative;
	top: 1px;
	width: 21px;
	height: 20px;
	margin: auto;
	fill: #e7e7e7;
}
.user-arrow-icon {
	position: absolute;
    top: 10px;
    right: -2px;
    width: 12px;
    height: 13px;
    fill: #313e4c;
    transform: rotate(-90deg);
}
.nav-logo span{opacity: 0.8;}
.nav-menu {
	min-width: 575px;
	height: 30px;
}
.nav-menu__item {
	position: relative;
	margin-right: 39px;
	padding: 0 0 0 30px;
	font-size: 14px;
	font-weight: 500;
	color: #313e4c;
	text-transform: uppercase;
	opacity: 0.8;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.nav-menu__item.active {
    padding: 0 0 0 30px;
    color: #fff;
}
.nav-menu__balanceCont .nav-menu__item { margin-right:0; }
.nav-balanceBox {
	width: 40px;
	margin-left: 5px;
}
.nav-balance__item {
	position: relative;
	padding: 0 0 0 9px;
	font-size: 12px;
	color: #424f5e;
}
.nav-balance__item:last-child { opacity: 0.6; }
.nav-balance__item:before {
	content: "$";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.nav-userMenu { width: 290px; }
.nav-userMenu__btn {
	position: relative;
    width: 132px;
    height: 44px;
	padding-left: 37px;
	font-size: 14px;
	font-weight: 500;
	font-weight: bold;
	color: #54554f;
	text-align: left;
	text-transform: uppercase;
	border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    background: transparent;
    border: none;
	cursor: pointer;
}
.nav-userMenu i {
	color: #54554f;
    font-weight: bold;
    font-size: 16px;
}
.marker {
	position: absolute;
	border-radius: 50%;
	background-color: rgb( 118, 172, 92 );
	border: 2px solid #deb15a;
}
.nav-profile {
	position: relative;
	width: 50px;
}
.nav-profile_icon {
	display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 43px;
    background: #f9f9f9;
    border-radius: 50%;
}
.nav-profile_icon i {
	color: #e7e7e7;
    font-size: 30px;
    overflow: hidden;
    height: 20px;
    font-weight: 300;
}
.tabs-contain {
	position: relative;
	height: 100%;
	padding: 0 0 50px 0;
}
.tabs-contain__header {
	height: 82px;
	padding: 0 30px;
	border-bottom: 1px solid #f5f4f4;
}
.tabs-header__item {
	width: 145px;
	height: 100%;
	padding-top: 45px;
	text-align: center;
	font-size: 16px;
	color: #424f5e;
	text-transform: uppercase;
}
.tabs-header__item span {cursor: pointer;}
.tabs-header__item.active {
	color: #76ac5c;
	border-bottom: 4px solid #76ac5c
}
.tabs-header__item.active span {cursor: default;}
.tabs-contain_sortBox {
	position: relative;
	width: 106px;
}
.sortBox-title {
	position: relative;
    height: 100%;
    padding-top: 45px;
}
.sortBox-title span{
	display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.8;
    color: rgba(66, 79, 94, 0.8);
}
.tabs-arrowSort-icon {
	position: absolute;
    top: 45px;
    right: 10px;
    width: 12px;
    height: 13px;
    fill: #313e4c;
    transform: rotate(-90deg);
}
.tabs-item__message {
	position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    fill: #fff;
}
.bidding .tabs-item__message { fill: #dd7a10; }
.tabs-bell__icon {
	width: 18px;
	height: 18px;
	fill: #5995f0;
}

.sortBox-menu {display: none;}
.tabs-content__title {
	width: 1146px;
	margin: 0 auto;
	padding: 22px 0;
	font-size: 14px;
	color: #838c96;
	opacity: 0.8;
}
.tabs-content__title .title {
	width: 400px;
	padding: 0 0 0 30px;
}
.tabs-content__title .deadline { width: 175px; }
.tabs-content__title .deadline { width: 197px; }
.tabs-content__title .deadline { width: 172px; }
.tabs-content__title .status { width: 197px; }
.tabs-content__title .assigned { width: 170px; }
.tabs-content__title .price {
	width: 80px;
	text-align: center;
}
.tabs-content__title .orderID {
	width: 86px;
	text-align: center;
}
.tabs-content__order {
	position: relative;
	width: 1144px;
	/*height: 95px;*/
	height: 0;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.6;
	color: #2a323b;
	background: #f3f5f7;
	border-radius: 5px;
	border-bottom: 1px solid #e9eaed;
	box-shadow: 1px 1px 1px 0px rgba(158, 162, 178, 0.3), -1px 0 1px 0px rgba(158, 162, 178, 0.3);
	overflow: hidden;
	opacity: 0;
	
	-webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0s;
    -ms-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1) 0s;
}
.tabs-content__order.active {
	height: 95px;
	margin: 0 auto 7px;
	padding: 23px 10px 23px 50px;
	overflow: visible;
	opacity: 1;
}
.tabs-content__order .title { width: 350px; padding: 0 40px 0 0;}
.tabs-content__order .deadline { width: 174px; }
.tabs-content__order .status { width: 197px; }
.tabs-content__order .assigned { width: 170px; }
.tabs-content__order .price { width: 80px;padding: 0 0 0 22px; }
.tabs-content__order .orderID { width: 86px; }
.tabs-content__order .orderID span { color: rgba(117, 135, 152, 0.9); }
.tabs-content__order .orderID span:before { content: "#"; }
.tabs-order__descript { opacity: 0.7; }
.tabs-order__title,
.tabs-order__descript {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.title .tabs-order__title{
	max-width: 280px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tabs-order__progBar {
	width: 147px;
	height: 8px;
	margin: 7px 0 0 0;
	border-radius: 4px;
}
.progBar-indicator  {
	width: 0;
	height: 100%;
	border-radius: 4px;
}
.progress .tabs-order__progBar { background: rgba(158, 161, 178, 0.3); }
.progress .progBar-indicator  { background: #76ac5c; }
.progress .tabs-mail { background: #76ac5c; }
.progress.tabs-content__order { border-left:4px solid rgba(118, 172, 92, 0.5); }

.bidding .tabs-order__progBar { background: #a6e7f7; }
.bidding .progBar-indicator  {  }
.status .tabs-order__title {
	width: 150px;
	text-align: center;
}
.bids-contain { margin: auto; }

.canceled { opacity: .6; }
.canceled .tabs-order__progBar { background: #cfbbaf; }
.canceled .progBar-indicator  {}
.canceled .tabs-mail { background: #cfbbaf; }
.canceled.tabs-content__order { opacity: .5; border-left:4px solid #cfbbaf; }

.finished { background: #fff; }
.finished .tabs-content__order {
    opacity: .5;
    border-left: 4px solid #cfbbaf;
}
.finished .tabs-order__progBar { background: #5995f0; }
.finished .progBar-indicator {  }
.finished.tabs-content__order { border-left: 4px solid #5995f0; }
.navNode-box {
	padding: 7px 0 0 0;
    justify-content: space-evenly;
}
.arrowDown-svg,
.trash-svg { display: inline-block; }
.arrowDown-svg {
	width: 20px;
	height: 17px;
}
.trash-svg {
	width: 14px;
	height: 16px;
}
.tabs-star {
	position: relative;
    top: 3px;
	width: 15px;
	height: 16px;
	fill: #deb15a;
}

.marker-finish { background-color: rgb( 238, 252, 255 ); }
.marker-finish .tabs-mail { background: #5995f0; }
.marker-finish .tabs-mesage {
	padding: 0;
    font-size: 18px;
    color: #5995f0;
    background: #eefcff;
}
.dots-svg {
	width: 18px;
    height: 18px;
    fill: #758798;
}
.navNode-box.dots { justify-content: center; }
.heckmark-svg {
	position: relative;
	top: 3px;
	width: 15px;
	height: 12px;
	fill: #fff;
}

.marker-finish .tabs-order__progBar { background: #76ac5c; }
.marker-finish.tabs-content__order { border-left: 4px solid #5995f0; }
.progBar-indicator.finish {
	position: relative;
	top: -8px;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	background: #76ac5c;
	border-radius: 50%;
}

.tabs-mail,
.tabs-mesage {
	position: absolute;
    top: calc(50% - 13px);
    width: 26px;
    height: 26px;
	padding: 3px 0 0 0;
	text-align: center;
    border-radius: 50%;
}
.tabs-mail { left: -15px; }
.tabs-mesage { right: -15px; }

.performer-avatar_wrap {
	position: relative;
	width: 42px;
	height: 42px;
	margin: 0 14px 0 0;
	border-radius: 50%;
}

.performer-avatar_wrap:after {
	display: none;
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.performer-avatar_wrap.active:after {
	background: #76ac5c;
	border: 2px solid #fbfbfb;
}
.performer-avatar_wrap.not-here:after {
	background: #deb15a;
	border: 2px solid #fbfbfb;
}
.performer-raite .fa { color: #deb15a; }
.price .tabs-order__title:before,
.price .tabs-order__descript:before { content: "$" }

.bidding .tabs-mail { background: #d0f1f9; }
.bidding.tabs-content__order { border-left:4px solid rgba(166, 231, 247, 0.50); }


















/*переделать нахуй этот блок и в верстке*/
.order-instruction {
	position: absolute;
	bottom: 25px;
	left: 0;
	width: 100%;
	padding: 0 60px;
	font-size: 15px;
	color: #a1a7af;
}


@media (max-width: 1320px) {
    /*body {
        background-size: auto;
        background-position: center top;
    }
    #section.center {background: url(../img/bg.jpg) no-repeat center top;    }*/
}